#root {
 

  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
/* .App{
  } */

.Head{
position: absolute;
width: 338px;
height: 70px;
left: 551px;
top: 110px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 70px;
/* identical to box height, or 117% */

text-align: center;

color: #1E232C;
}

.Addimgp{
  position: absolute;
width: 128px;
height: 27px;
left: 656px;
top: 180px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;

color: #838BA1;
}

.Addbiotex{
  position: absolute;
width: 101px;
height: 27px;
left: 446px;
top: 517px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */

text-align: center;

color: #838BA1;
}

.coment{
  box-sizing: border-box;

position: absolute;
width: 549px;
height: 170px;
left: 446px;
top: 556px;

background: rgba(247, 248, 249, 0.63);
border: 1px solid #E8ECF4;
border-radius: 8px;
}

.NextButt{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 60px;
gap: 10px;
color: white;
position: absolute;
width: 549px;
height: 48px;
left: 445px;
top: 784px;

background: #5534A5;
border-radius: 48px;
}

.EndTxt{
  
position: absolute;
width: 252px;
height: 22px;
left: 594px;
top: 935px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

text-align: center;

color: #4B7BE5;

}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
